@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("stubble.png");
    
    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 30%;
    padding: 5px;
    text-align: center;
  }

  /* For button */
  .btn-glass {
    flex-grow: 6;
    text-align: center;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    padding: 0.5em 1em;
    font-family: Lato;
    font-weight: 300;
    border: 1px dotted transparent;
    letter-spacing: 0.98pt;
    text-transform: uppercase;
    transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
    position: relative;
    background-attachment: fixed, scroll;
    background-size: 100vw 100vh, cover;
    background-position: center center, 0 0;
    background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0.2) 110%);
  }
  .btn-glass:hover {
    background-position: -100vw 0, 0 0;
  }
  .btn-glass:active {
    background-position: -75vw 0, 0 0;
    border-style: solid;
  }