* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #034378, #2d4e68);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.title {
    position: absolute;
    width: 500px;
    height: 135px;
    left: calc(50% - 500px/2);
    top: calc(50% - 135px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 64px;
    text-align: center;
    letter-spacing: -2px;

    background: -moz-linear-gradient(127deg, rgba(72, 198, 239, 1) 0%, rgba(111, 134, 214, 1) 100%);
    background: -webkit-linear-gradient(127deg, rgba(72, 198, 239, 1) 0%, rgba(111, 134, 214, 1) 100%);
    background: linear-gradient(127deg, rgba(72, 198, 239, 1) 0%, rgba(111, 134, 214, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#48c6ef", endColorstr="#6f86d6", GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 1s ease-out 0s 1 slide;
}


::selection {
    background: #b3d4fc;
    text-shadow: none;
}


@keyframes slide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}


a {
    text-decoration: none;
  }
  
  h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }
  
  .row {
    max-width: 900px;
    margin: 50px auto 0;
  }
  
  

#landing{
    background-color:rgb(100, 18, 18);
    }
.street-address {
    color: aqua;
}

