
<h1>Convert the given code to String</h1>
<h3>576f7721204920616d205468652057696e6e6572204f66206974202e2e2e</h3>

<div style='display:none'> 

    // method:post
    // action:users/complete3
    // token:<%= @token %>
    // ans: {ans should come here}
</div>