*
.bg-image {
    /* The image used */
    background-image: url("stubbleburn.jpg");
    
    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.img-wrapper
{
	width: 200px;
	height: 250px;
	position: relative;
	overflow: hidden;
}

.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 100%;
	width: 100%;
	transition: 2s;
}
.img-wrapper:hover img
{
	filter: grayscale(0%);
	transform: scale(1.1);
}

.img-wrapper #hov
{
	background: tomato;
	font-family: Poppins;
	color: #fff;
	text-align: right;
	margin: 0;
	padding-right: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover #hov
{
	transform: perspective(400px) rotateY(0deg);
}



/************/
/* Social Buttons */
/***********/

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
  top: 90%;
  left: -110%;
}

.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.social-btns .btn.facebook:before {
  background-color: #3b5998;
}

.social-btns .btn.facebook .fa {
  color: #3b5998;
}

.social-btns .btn.instagram:before {
  background-color: #E1306C;
}

.social-btns .btn.instagram .fa {
  color: #E1306C;
}

.social-btns .btn.linkedin:before {
  background-color: #0077B5;
}

.social-btns .btn.linkedin .fa {
  color: #0077B5;
}

.social-btns .btn.github:before {
  background-color: #333;
}

.social-btns .btn.github .fa {
  color: #333;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.social-btns {

  margin: 30px;
  font-size: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.social-btns .col-3 {
  padding: 0;
}

.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 50px;
  height: 50px;
  line-height: 70px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
  padding: 0;
}

.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.social-btns .btn .fa {
  font-size: 30px;
  vertical-align: middle;
  justify-content: center;
  margin-bottom: 26px;
}
.col-3{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.footer{
	text-align:center;
	background-color:;
}